:root {
  --color-black: #1d1710;
  --color-white: #f5f3ee;

  --font-blue: #64a5a7;
  --font-pink: #c586c0;
  --font-magenta: #dd0b6b;
  --font-yellow: #f6d04d;
  --font-orange: #e4742e;

  --background-periwinkle: #bfb3fb;
}

@font-face {
  font-family: CUBANO;
  src: url('fonts/CUBANO.TTF');
}

.app {
  background-color: var(--background-periwinkle);
  min-height: 100vh;
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}

h1,h2,h3 {
  font-family: CUBANO;  
  margin: 0px;
  padding: 2rem;  
}

h1 {
  font-size: 12vw;
  line-height: 12vw;
  color: var(--font-yellow);
  text-shadow: .6vw .8vw var(--font-magenta);  
}

h2 {
  font-size: 7vw;
  color: var(--font-magenta); 
}

h3 {
  font-size: 3vw;
  color: var(--font-magenta);
}

a {
  font-family: CUBANO;  
  font-size: 3vw;
  text-decoration: none;
  color: var(--font-yellow);
  transition: color .2s ease;
}
a:hover {
  color: var(--font-orange);
  transition: color .2s ease;
}

nav {
  display: flex;
  gap: 1vw;
  margin-left: 2rem;
}

button {
  font-family: CUBANO;
  font-size: 1.7vw;
  text-align: center;
  height: 2vw;
  color: white;
  border: none;
  background-color: transparent;
  transition: color .2s ease;
}
button:hover {
  color: var(--font-yellow);
  transition: color .2s ease;
}

hr {
  border: none;
  height: 5px;
  background-color: var(--font-magenta);
}

main {
  h1 {
    cursor: default;
    padding: 0px;
    transition: color .2s ease;
    transition: transform .1s ease;
  }
  h1:hover {
    transform: translate(0px, 1rem);
    transition: color .2s ease, transform .1s ease;
  }
  h1:nth-child(4n + 1):hover {
    color: var(--font-orange);
  }
  h1:nth-child(4n + 2):hover {
    color: var(--font-blue);
  }
  h1:nth-child(4n + 3):hover {
    color: var(--font-magenta);
  }
  h1:nth-child(4n + 4):hover {
    color: var(--font-pink);
  }
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 1vw;

  nav {
    gap: 3vw;
    margin: 0px;

    a {
      font-size: 3vw;
      color: white;
    }
    a:hover {
      color: var(--font-magenta);
    }
  }
}

// Home Page --Desktop
.home-container {
  min-height: 100vh;
  height: 100%;
  background-image: url('/Website_background.png');
  background-size: cover;

  .woman-container {
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    // background-image: url('/Website_woman.png');
    background-size: cover;
    pointer-events: none;

    img {
      // min-height: 100vw;
      height: calc(65% + 20vw);
      position: fixed;
      bottom: 0;
      right: 0;
      pointer-events: none;
    }
  }

  .title-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    width: 80%;
  }

  .nav {
    display: flex;
    margin-left: 2.4rem;
    gap: 2rem;
  }
}

// Portfolio Page -- Desktop
.portfolio-container {
  header {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .portfolio-categories-container {
    background-image: url('/website_illustrations.png');
    background-size: cover;
    background-position: center;    
    height: 25vw;
    max-width: 100%;
    transition: background-image .2s ease;
    margin: 1rem 0rem 3vw 0rem;

    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80%;
      padding-top: 7.5vw;
    }
  }

  .portfolio-carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 0vw 10vw 0vw;

    .title-container {
      // background: linear-gradient(to bottom, var(--color-white) 50%, var(--font-blue) 50%); 
      background-color: var(--font-blue);
      display: flex;
      justify-content: center;
      width: 100%;

      h3 {
        color: var(--color-white);
      }
    }

    .button-container {
      background-color: var(--font-orange);
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 60px;
      padding: 20px 0px 20px 0px;

      button {
        background-color: var(--background-periwinkle);
        border-radius: 5px;
        box-shadow: 0px 2px 2px 2px var(--color-black);
        transition: background-color .2s ease;

        path,
        svg {
          pointer-events: none;
        }
      }

      button:hover {
        background-color: color-mix(in srgb, var(--background-periwinkle) 50%, var(--color-black) 50%);
        box-shadow: inset 0px 2px 2px 2px var(--color-black);
        transition: background-color .2s ease;
      }
    }

    .carousel-element {
      display: flex;
      
      button {
        font-size: 2vw;
      }

      .carousel-image-container {
        max-width: 90vw;
        // height: ;

        img {
          width: 100%;
          max-height: 90vh;
        }
      }       
    }
     
  }

  .scrolling-text-container {
    width: 100%;
    overflow: hidden;

    .scrolling-text {
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      animation: scrollText 15s linear infinite;
      container-type: inline-size;

      h3{
        margin: 0;
        padding: 0;
        font-size: 3.1cqw;
      }
    }
  }

  .my-images-enter {
    opacity: 0;
  }
  .my-images-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .my-images-exit {
    opacity: 1;
  }
  .my-images-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}