:root {
  --color-black: #1d1710;
  --color-white: #f5f3ee;

  --font-blue: #64a5a7;
  --font-pink: #c586c0;
  --font-magenta: #dd0b6b;
  --font-yellow: #f6d04d;
  --font-orange: #e4742e;

  --shade-blue: #0f5875;
  --shade-pink: #9b118f;
  --shade-magenta: #92005a;
  --shade-yellow: #d39b00;
  --shade-orange: #801300;
  --shade-periwinkle: #3e3ca5;

  --background-periwinkle: #bfb3fb;
  --background-paleblue: #d6e2f8;
  --background-paleyellow: #f7deb9;
  --background-blue: #254dff;


}

::-webkit-scrollbar {

  &-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
}

@font-face {
  font-family: CUBANO;
  src: url('fonts/CUBANO.TTF');
}

html {
  background-color: var(--background-periwinkle);
  min-height: 100vh;
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}

h1,h2,h3 {
  font-family: CUBANO;
  margin: 0px;
  padding: 2rem;
}

h1 {
  font-size: 12vw;
  line-height: 12vw;
  color: var(--font-yellow);
  text-shadow: .6vw .8vw var(--font-magenta);
}

h2 {
  font-size: 7vw;
  color: var(--font-magenta);
}

h3 {
  font-size: 3vw;
  color: var(--font-magenta);
}

a {
  font-family: CUBANO;
  font-size: 3vw;
  text-decoration: none;
  color: var(--font-yellow);
  transition: color .2s ease;
}
a:hover {
  color: var(--font-orange);
  transition: color .2s ease;
}

nav {
  display: flex;
  gap: 1vw;
  margin-left: 2rem;
}

button {
  font-family: CUBANO;
  font-size: 1.7vw;
  text-align: center;
  height: 2vw;
  color: white;
  border: none;
  background-color: transparent;
  transition: color .2s ease;
}
button:hover {
  color: var(--font-yellow);
  transition: color .2s ease;
}

hr {
  border: none;
  height: 5px;
  background-color: var(--font-magenta);
}

path,
svg {
  pointer-events: none;
}

main {
  h1 {
    cursor: default;
    padding: 0px;
    transition: color .2s ease;
    transition: transform .1s ease;
  }
  h1:hover {
    transform: translate(0px, 1rem);
    transition: color .2s ease, transform .1s ease;
  }
  h1:nth-child(4n + 1):hover {
    color: var(--font-orange);
  }
  h1:nth-child(4n + 2):hover {
    color: var(--font-blue);
  }
  h1:nth-child(4n + 3):hover {
    color: var(--font-magenta);
  }
  h1:nth-child(4n + 4):hover {
    color: var(--font-pink);
  }
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 3vw;
  margin: 0px;

  a {
    font-size: 2.4vw;
    color: white;
  }
  a:hover {
    color: var(--font-magenta);
    text-shadow: 2px 4px var(--font-blue);
  }
}

// Home Page --Desktop
.home-container {
  min-height: 100vh;
  height: 100%;
  background-image: url('/Website_background.jpg');
  background-size: cover;

  .woman-container {
    position: absolute;
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    pointer-events: none;

    img {
      height: calc(65% + 20vw);
      position: fixed;
      bottom: 0;
      right: 0;
      pointer-events: none;
    }
  }

  .title-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    width: 80%;
  }

  .nav {
    display: flex;
    margin-left: 2.4rem;
    gap: 2rem;
  }
}

// Portfolio Page -- Desktop
.portfolio-container {

  header {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .portfolio-categories-container {
    background-image: url('/website_illustrations.jpg');
    background-size: cover;
    background-position: center;
    height: 25vw;
    max-width: 100%;
    margin: 1rem 0rem 3vw 0rem;
    animation: fuzzy-in .4s;

    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80%;
      padding-top: 7.5vw;
    }

    button {
      color: var(--font-yellow);
    }
    button:hover {
      color: var(--font-magenta);
    }
  }

  .portfolio-carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vw 0vw 10vw 0vw;

    hr {
      background-color: var(--font-orange);
      height: 5px;
      width: 100%;
    }

    .title-container {
      background-color: var(--color-black);
      outline: 4px solid var(--font-magenta);
      display: flex;
      justify-content: center;
      width: 100%;

      h3 {
        color: var(--color-white);
      }
    }

    .button-container {
      background-color: var(--font-orange);
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 60px;
      padding: 20px 0px;

      button {
        background-color: var(--background-periwinkle);
        border-radius: 5px;
        box-shadow: 0px 3px 1px 2px var(--shade-orange);
        transition: background-color .2s ease;

      }

      button:hover {
        background-color: color-mix(in srgb, var(--background-periwinkle) 100%, var(--shade-periwinkle) 100%);
      }

      button:active {
        background-color: color-mix(in srgb, var(--background-periwinkle) 50%, var(--shade-periwinkle) 100%);
        box-shadow: inset 0px 2px 2px 2px var(--shade-periwinkle);
        transition: background-color .2s ease;
      }
    }

    .carousel-element {
      display: flex;

      button {
        font-size: 2vw;
      }

      .carousel-image-container {
        // min-height: 100%;
        max-width: 90vw;

        img {
          width: 100%;
          max-height: 90vh;
          animation: fuzzy-in .5s;
        }
      }
    }

    .carousel-navigator-container {
      display: flex;
      justify-content: left;
      max-width: 80vw;
      flex-wrap: nowrap;
      height: 200px;
      left: 0;

      overflow-x: scroll;
      scrollbar-color: var(--background-periwinkle) var(--font-orange);

      .carousel-preview-image {
        width: 100px;
        min-width: 100px;
        height: 170px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: blur(1px);
          transition: filter .2s ease;
        }

        img:hover {
          outline: 4px solid var(--font-orange);
          filter: blur(0);
        }
      }
    }
  }

  .scrolling-text-container {
    width: 100%;
    overflow: hidden;

    .scrolling-text {
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      animation: scrollText 15s linear infinite;
      container-type: inline-size;

      h3{
        margin: 0;
        padding: 0;
        font-size: 3.1cqw;
      }
    }
  }

  .my-images-enter {
    opacity: 0;
  }
  .my-images-enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }
  .my-images-exit {
    opacity: 1;
  }
  .my-images-exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }

  .image-title {
    font-family: 'SUSE Mono', 'Rubik Mono One';
    font-weight: 800;
    font-size: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1rem solid var(--font-yellow); 
    margin: 0px;
    padding: 0px;
    letter-spacing: .18rem;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--font-yellow) }
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes fuzzy-in {
  from { filter: blur(25px); image-rendering: pixelated }
  to { filter: blur(0px); image-rendering: auto }
}

@keyframes oldschool-loadin {
  from {  }
  to {  }
}

// Manga Page -- Desktop
.manga-container {
  padding: 0 0 10rem 0;

  header {
    background-image: linear-gradient(to bottom, var(--font-blue), var(--background-periwinkle));
    background-size: 100% 50px;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  span {
    color: var(--color-white);
  }

  .manga-categories-container {
    display: flex;
    justify-content: center;
    margin: 1rem;

    .manga-buttons-container {
      background-image: url('/Kitty The Tiger.jpg');
      background-size: cover;
      width: 600px;
      height: 250px;
      display: flex;
      justify-content: center;
      align-items: center;
      outline: 2px solid var(--font-orange);

      button {
        font-size: calc(1.2rem + .5vw);
        color: var(--font-magenta);
      }
    }
  }

  .manga-reader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "SUSE Mono";

    .page-container {
      display: flex;
      gap: 5px;
      align-items: baseline;
      margin: 5px 0px;

      button {
        font-family: "SUSE Mono";
        font-size: calc(.3rem + .5vw);
        width: calc(.4rem + .6vw);
        height: calc(.3rem + .6vw);
      }
      .active {
        color: var(--font-magenta);
      }
    }

    .manga-page-container {
      display: flex;
      min-height: 1024px;

      img {
        max-height: 180vh;
        animation: fuzzy-in .1s;
      }

      button {
        align-self: center;
      }
    }
  }

  .manga-background {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 65vh;
    background-color: rgba(255,255,255, .1);
    z-index: -1;

    .circle {
      background-color: red;
      width: 100px;
      height: 100px;
    }
  }
}

// About Page -- Desktop
.about-container {
  background-image: url('/Website_desktop.jpg');
  background-size: cover;
  min-height: 100vh;
  font-family: "SUSE Mono";
  font-size: 1.3rem;

  header {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .about-desktop-container {
    height: 100%;

    .icon-container {
      display: grid;
      position:fixed;
      grid-template-rows: repeat(3, 180px);
      padding: 5px;

      .desktop-icon {
        display: grid;
        justify-items: center;
        height: auto;
        width: 130px;

        img {
          width: 80px;
          height: 80px;
          align-self: center;
          pointer-events: none;
        }

        p {
          font-family: "SUSE Mono";
          font-size: 16px;
          max-width: 130px;
          height: 1.3rem;
          padding-left: 5px;
          padding-right: 5px;
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          pointer-events: none;
        }
      }

      .desktop-icon:focus {

        p {
          outline: 2px dotted var(--background-blue);
          background-color: color-mix(in srgb, var(--background-blue) 50%, transparent 50%);
        }
      }
    }

    .window-container {
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      width: 100%;
      pointer-events: none;
      padding-top: 2rem;

      .about-window {
        pointer-events: all;
        background-color: var(--background-paleblue);
        border-top: 3px solid var(--color-white);
        border-left: 3px solid var(--color-white);
        border-right: 3px solid var(--color-black);
        border-bottom: 3px solid var(--color-black);
        width: 600px;
        max-width: 90vw;
        height: fit-content;
        animation: 0.2s cubic-bezier(0.4, 0, 1, 1) both squish-in-custom;

        .top-bar {
          display: flex;
          flex-wrap: nowrap;
          background-color: var(--shade-blue);
          max-width: 100%;
          height: 30px;
          padding: 0px;
          justify-content: space-between;
          align-items: center;

          p {
            color: var(--color-white);
            pointer-events: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-height: 30px;
            max-width: 60vw;
          }

          .buttons {
            display: flex;

            button {
              font-family: "SUSE Mono";
              font-size: 18px;
              font-weight: bold;
              background-color: var(--font-blue);
              border: 2px solid var(--color-black);
              padding: 2px;
              margin: 0px;
              width: 28px;
              height: 28px;
              text-align: center;
              cursor: pointer;
            }
            button:hover {
              background-color: var(--font-orange);
            }
            button:active {
              background-color: var(--shade-blue);
            }
          }
        }

        p {
          padding: 1rem;
          margin: 0;
          font-family: "SUSE Mono";
          font-weight: 500;
          font-size: 1.2rem;
          align-content: center;
          transition: background-color .1s ease;
        }
      }

      .about-window.focus {
        outline: 2px dotted var(--font-orange);
      }
    }


    .taskbar {
      display: flex;
      position: fixed;
      bottom: 0px;
      justify-content: start;
      background-color: var(--background-periwinkle);
      border-top: 2px solid var(--color-white);
      width: 100%;
      height: 40px;
      padding: 5px 0px;

      .start {
        align-self: center;

        .start-button {
          color: var(--color-black);
          font-family: "SUSE Mono";
          font-size: 1.3rem;
          align-content: center;
          border-top: 2px solid var(--color-white);
          border-left: 2px solid var(--color-white);
          border-right: 2px solid var(--color-black);
          border-bottom: 2px solid var(--color-black);
          padding: 10px;
          margin: 0;
          transition: background-color .2s ease;
          height: 100%;
        }

        .start-button:hover {
          background-color: color-mix(in srgb, var(--background-periwinkle) 100%, var(--color-black) 30%);
          border-top: 2px solid var(--color-black);
          border-left: 2px solid var(--color-black);
          border-right: 2px solid var(--color-white);
          border-bottom: 2px solid var(--color-white);
          transition: background-color .2s ease;
        }

        .start-window {
          display: flex;
          flex-direction: column;
          padding: 0px 0px 0px 20px;
          position: absolute;
          height: 300px;
          width: 200px;
          bottom: 50px;
          background: linear-gradient(to right, var(--font-orange) 8%, var(--background-periwinkle) 8%);
          border-top: 2px solid var(--color-white);
          border-left: 2px solid var(--color-white);
          border-right: 2px solid var(--color-black);
          border-bottom: 2px solid var(--color-black);

          button {
            color: var(--color-black);
            font-family: "SUSE Mono";
            font-size: 1.3rem;
            padding: 10px 10px 10px 40px;
            font-size: 1.2rem;
            height: 45px;
            text-align: left;
            cursor: pointer;
            transition: background-color .2s ease;
          }
          button:hover {
            background-color: color-mix(in srgb, var(--background-periwinkle) 100%, var(--color-black) 30%);
            transition: background-color .2s ease;
          }
        }
      }
      
      .apps-container {
        display: flex;
        align-items: center;
        padding: 0 2rem;
        gap: 1.5rem;
        font-weight: 600;
        font-size: 26px;
      }

      .programs-container {
        display: flex;
        align-items: center;

        button {
          font-family: "SUSE Mono";
          font-weight: 500;
          font-size: 1.2rem;
          color: var(--color-black);
          height: 40px;
          align-content: center;
          border-top: 2px solid var(--color-white);
          border-left: 2px solid var(--color-white);
          border-right: 2px solid var(--color-black);
          border-bottom: 2px solid var(--color-black);
          padding: 0px 10px;  
          transition: background-color .2s ease;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        button:hover {
          background-color: color-mix(in srgb, var(--background-periwinkle) 100%, var(--color-black) 30%);
          border-top: 2px solid var(--color-black);
          border-left: 2px solid var(--color-black);
          border-right: 2px solid var(--color-white);
          border-bottom: 2px solid var(--color-white);
          transition: background-color .2s ease;
        }
      }

      .info-container {
        display: flex;
        align-items: center;
        gap: 10px;
        border-top: 2px solid var(--color-black);
        border-left: 2px solid var(--color-black);
        border-right: 2px solid var(--color-white);
        border-bottom: 2px solid var(--color-white);
        margin-left: auto;
        padding: 0px 5px;
      }
    }
  }
}

// Contact Page -- Desktop
.contact-container {
  // background-image: url('/Website_desktop.png');
  // background-size: cover;
  // min-height: 100vh;
  font-family: "SUSE Mono";
  font-size: calc(.7rem + .3vw);
  background: linear-gradient(to bottom, var(--shade-yellow) 50%, var(--font-blue) 50%);
  background-image: radial-gradient(var(--font-magenta) 5%, transparent 10%);
  background-size: 25px 25px;
  background-repeat: repeat;
  min-height: 100vh;
  animation: move 5s linear infinite;

  header {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .background-image {
    background-image: url('/Website_Backsplash.png');
    background-size: cover;
    min-height: 100vh;
  }

  header {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .contact-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vw;

    span {
      background-color: var(--background-paleblue);
      border: 2px solid var(--font-magenta);
      box-shadow: 0px 4px 4px 0px var(--background-blue);
      padding: 10px;
      max-width: 50vw;
    }
  }

  .contact-form-container {
    .notification {
      display: flex;
      justify-self: center;

      p {
        color: var(--color-white);
        background-color: var(--font-magenta);
        outline: 2px solid var(--shade-periwinkle);
        box-shadow: 0px 0px 4px 6px var(--font-orange);
        padding: 10px;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      background-color: var(--background-paleblue);
      border: 2px solid var(--font-orange);
      box-shadow: 0px 4px 4px 0px var(--background-blue);
      justify-self: center;
      width: 30vw;
      margin: 2vw;
      transition: width .2s ease;

      .window-header {
        display: flex;
        background-color: var(--font-blue);
        max-width: 100%;
        padding: 0px;
        justify-content: end;

        .button {
          background-color: var(--background-paleblue);
          border: 2px solid var(--shade-blue);
          padding: 2px;
          margin: 0px;
          width: 20px;
          text-align: center;
          cursor: pointer;
        }
        .button:hover {
          background-color: var(--font-orange);
        }
        .button:active {
          background-color: var(--shade-blue);
        }
      }

      span {
        background-color: var(--background-paleblue);
        border: 2px solid var(--shade-periwinkle);
        padding: 20px;

        input {
          font-size: calc(.6rem + .3vw);
          height: 1.3rem;
          width: 100%;
          padding: 0px;
        }
        textarea {
          font-size: calc(.6rem + .3vw);
          resize: none;
          width: 100%;
          height: 6rem;
        }
        input:focus,
        textarea:focus {
          outline: none;
        }
      }

      .joke-message {
        padding: 10px;
        font-size: calc(.4rem + .3vw);
        text-align: center;
      }

      .button-container {
        display: flex;
        justify-content: space-around;
        background-color: transparent;
        padding: 5px;

        span {
          position: absolute;
          font-size: calc(.2rem + .3vw);
          background-color: transparent;
          border: none;
        }
      }

      .message {
        display: grid;
        grid-template-columns: .1fr 1fr;
        justify-content: left;
        gap: 10px;

        #message {
          width: auto;
        }
      }

      .name-email {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 4fr;
        justify-content: space-between;
        gap: 10px;
      }

      button {
        font-size: calc(1.6rem + .3vw);
        display: flex;
        align-items: center;
        color: var(--color-black);
        background-color: var(--background-paleblue);
        border: 3px solid var(--font-orange);
        height: 45px;
      }
      button:hover {
        background-color: var(--font-magenta);
      }
    }
  }
}

.websites-container {
  min-height: 100vh;
  font-family: "SUSE Mono";
  font-size: 1.3rem;
  background: linear-gradient(to bottom, var(--shade-yellow) 50%, var(--font-blue) 50%);
  background-image: radial-gradient(var(--font-blue) 25%, transparent 30%);
  background-size: 50px 50px;
  background-repeat: repeat;
  animation: move 5s linear infinite;

  header {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  @keyframes move {
    from {background-position: 0px 0px}
    to {background-position: 0px 50px}
  }

  header {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .websites {
    display: flex;
    justify-self: center;
    justify-content: center;
    max-width: 80vw;
    gap: 2rem;
    margin: 3vw;

    .finances-container,
    .music-machine-container {
      display: flex;
      flex-direction: column;
      background-image: url("https://live.staticflickr.com/65535/55019154617_4c1ee31c72_b.jpg");
      background-size: cover;
      background-position: center;
      width: 250px;
      height: 100%;
      padding: 10px;
      outline: 2px solid var(--font-yellow);
      transition: scale .2s ease;

      .main-card {
        display: flex;
        flex-direction: column;
        height: 300px;

        h3 {
          font-size: 3rem;
          color: var(--font-orange);
          transition: color .5s ease;
        }

        p {
          font-family: CUBANO;
          font-size: 1rem;
          transition: color .5s ease;
          color: var(--color-white);
          background-color: color-mix(in hsl, var(--font-blue) 50%, transparent 50%);
        }

        button {
          text-align: center;
        }
      }

      .info-card {
        height: 0px;
        overflow: hidden;
        transition: height .2s ease;

        p {
          font-size: 1rem;
          background-color: color-mix(in hsl, var(--color-white) 50%, transparent 50%);
          padding: 5px;
        }

        a {
          font-size: 1.2rem;
          background-color: var(--font-blue);
          padding: 5px;
          margin: 5px;
          outline: 2px solid var(--font-yellow);
        }
      }
    }

    .finances-container {
      background-image: url("https://live.staticflickr.com/65535/55020220343_98cdb57de2_b.jpg");

      .main-card {
        h3 {
          color: var(--font-yellow);
        }

        p {
          color: var(--color-white);
        }
      }
    }

    .finances-container:hover {
      background-image: linear-gradient(rgba(0,0,30,0), rgba(0,0,30,0)), url("https://live.staticflickr.com/65535/55020220343_98cdb57de2_b.jpg");
      outline: 4px solid var(--font-pink);
      scale: 1.05;
      transition: scale .2s ease,;
      h3 {
        color: var(--font-blue);
        transition: 
          color .5s ease
          text-shadow .5s ease;
        text-shadow: .1vw .1vw var(--font-magenta); 
      }
      p {
        color: var(--font-magenta);
        transition:
          color .5s ease
          text-shadow .5s ease;
        text-shadow: .1vw .1vw var(--font-blue);
      }
    }

    .music-machine-container:hover {
      outline: 4px solid var(--font-pink);
      scale: 1.05;
      transition: scale .2s ease;

      .main-card {
        h3 {
          display: flex;
          color: var(--font-magenta);
          transition: 
            color .5s ease
            text-shadow .5s ease;
          text-shadow: .1vw .1vw var(--font-blue);
        }
        p {
          color: var(--font-orange);
          transition:
            color .5s ease
            text-shadow .5s ease;
          text-shadow: .1vw .1vw var(--font-magenta);
        }
      }
    }
  }
}

// page transitions
::view-transition-old(root) {
  animation: 0.5s cubic-bezier(0.4, 0, 1, 1) both fade-out-custom;
}

::view-transition-new(root) {
  animation: 0.5s cubic-bezier(0, 0, 0.2, 1) both fade-in-custom;
}

@keyframes fade-out-custom {
  from { opacity: 1;}
  to { opacity: 0;}

}

@keyframes fade-in-custom {
  from { opacity: 0;}
  to { opacity: 1;}

}

@keyframes squish-out-custom {
  from { opacity: 1; transform: matrix(0); scale: 1;}
  to { opacity: 0; transform: matrix(1, 1, 6, 6, 5, 1); scale: .5;}
}

@keyframes squish-in-custom {
  from { opacity: 0; transform: matrix(1, 1, 6, 6, 5, 1); scale: .5}
  to { opacity: 1; transform: matrix(0); scale: 1}
}

// Tablet view adjustments
@media only screen and (max-width: 1500px) {

  .about-container {
    .about-desktop-container {

      .window-container {
        .about-window {
          p {
            font-size: 1.1rem;
            padding: 10px;
          }
        }
      }
    }
  }

  .contact-container {
    .background-image {
      .contact-form-container {
        form {
          width: 60vw;
          transition: width .2s ease;
        }
        button {
          font-size: calc(1.1rem + .3vw);
          transition: font-size .2s ease;
        }
      }
    }
  }
}
