@media only screen and (max-width: 1500px) {
  body {
    width: 100vw !important;
  }

  .carousel-preview-image {
    max-width: 250px;
  }

  .about-container {
    .about-desktop-container {

      .window-container {
        .about-window {
          p {
            font-size: 1.1rem;
            padding: 10px;
          }
        }
      }
    }
  }

  .contact-container {
    .background-image {
      .contact-form-container {
        form {
          width: 60vw;
          transition: width .2s ease;
        }
        button {
          font-size: calc(1.1rem + .3vw);
          transition: font-size .2s ease;
        }
      }
    }
  }

  .projects-container {

    .kittythetiger-container {

      section {

        .image-block {
          justify-self: center !important;

          img {
            max-width: 90vw;
          }
        }
      }
    }
  }
}
